/*========================
|															|
|		Stylesheet for MF 2.0           			|
|															|
|		Author: Jérémy Pougnet				|
|		Start : 30/08/2016						|
|															|
=========================*/



/*======= Generic styles =======*/

body {
    background-color: #fafafa;
}


/* Page loader */

#pageloader {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 999;
    background: #EFF3F6;
    text-align: center;
    top: 0;
    left: 0;
}

#pageloader svg {
    top: 45%;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 42px;
}
#pageloader .spinner {
	-webkit-animation: rotation 1.4s linear infinite;
	animation: rotation 1.4s linear infinite;
}

@-webkit-keyframes rotation {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(270deg);
		transform: rotate(270deg);
	}
}

@keyframes rotation {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(270deg);
		transform: rotate(270deg);
	}
}

#pageloader .circle {
	stroke-dasharray: 187;
	stroke-dashoffset: 0;
	-webkit-transform-origin: center;
	-ms-transform-origin: center;
	transform-origin: center;
	-webkit-animation: turn 1.4s ease-in-out infinite;
	animation: turn 1.4s ease-in-out infinite;
}

@-webkit-keyframes turn {
	0% {
		stroke-dashoffset: 187;
	}

	50% {
		stroke-dashoffset: 46.75;
		-webkit-transform: rotate(135deg);
		transform: rotate(135deg);
	}

	100% {
		stroke-dashoffset: 187;
		-webkit-transform: rotate(450deg);
		transform: rotate(450deg);
	}
}

@keyframes turn {
	0% {
		stroke-dashoffset: 187;
	}

	50% {
		stroke-dashoffset: 46.75;
		-webkit-transform: rotate(135deg);
		transform: rotate(135deg);
	}

	100% {
		stroke-dashoffset: 187;
		-webkit-transform: rotate(450deg);
		transform: rotate(450deg);
	}
}

#pageloader svg:nth-child(1){
	stroke: rgb(255, 152, 0);
}


/* Set cards */

.card-1 {
    box-shadow: 0 1px 1px rgba(0,0,0,.15);
	background: #fff;
	min-height: 32px;
}

.notActiveCard {
	opacity: 0.57;
}


/* Angular tooltip */

md-tooltip ._md-content {
    background-color: #333;
    box-shadow: none;
    font-weight: 500;
    font-size: 11px;
    padding: 2px 8px;
}


/* Element sizes */

/* Percents */
.dxWidth-100 {
	width: 100%;
}

.dxWidth-90 {
	width: 90%;
}

.dxWidth-80 {
	width: 80%;
}

.dxWidth-50 {
	width: 50%;
}

.dxWidth-Onethird {
	width: calc(100% / 3);
}

.dxWidth-25 {
	width: 25%;
}

/* Pixels */
.dxWidth-1600px {
	width: 1600px;
}

.dxWidth-1440px {
	width: 1440px;
}

.dxWidth-1280px {
	width: 1280px;
}

.dxWidth-1080px {
	width: 1080px;
}

.dxWidth-960px {
	width: 960px;
}

.dxWidth-840px {
	width: 840px;
}

.dxWidth-720px {
	width: 720px;
}

.dxWidth-600px {
	width: 600px;
}

.dxWidth-480px {
	width: 480px;
}

.dxWidth-320px {
	width: 320px;
}



/*======= Header styles =======*/


/* Angular header color override */

md-toolbar.md-default-theme:not(.md-menu-toolbar),
md-toolbar:not(.md-menu-toolbar) {
    color: rgb(255, 255, 255) !important;
	transition-duration: 0.2s;
}

md-toolbar.colorchangeheadersearch {
	background-color: #607D8B;
}


/* Header search bar */

.searchFieldWrapper {
    width: 620px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    margin-top: 10px;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.14);
    background: #fff;
    height: 43px;
    border-radius: 2px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.searchFieldWrapper .searchicon {
    position: absolute;
    top: 0;
    left: 15px;
    line-height: 40px;
}

.searchFieldWrapper .searchicon md-icon {
	color: #bbb;
}

.searchFieldWrapper .searchFieldInput {
    color: #6d6d6d;
    border: none;
    outline: none;
    padding-bottom: 13px;
    padding-top: 11px;
    border-radius: 2px;
    font-size: 16px;
    display: block;
    padding-left: 45px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    background: #fff;
    border-bottom-color: #eee;
}



/*======= Custom Elements and Specific Styles =======*/


/*======= Perso cards =======*/


/* Set card container */

.perso-cards-container {
	min-height: 64px;
    max-width: 1080px;
    margin: 24px auto;
}


/* Ordering options */
.sortOptions-container {
	margin-bottom: 8px;
    text-align: right;
}


/* Set Perso card */

.perso-cards-container .perso-card {
    padding: 8px;
    border-radius: 2px;
    min-height: 64px;
    margin-bottom: 8px;
	position: relative;
	box-sizing: border-box;
}


/* Perso card content */

.perso-cards-container .perso-card .perso-card-leftContainer {
	width: calc(50% - 27px);
    float: left;
    height: 48px;
    border-right: 1px dashed rgba(0,0,0,0.12);
	box-sizing: border-box;
    padding-left: 6px;
}

.perso-cards-container .perso-card .perso-card-rightContainer {
    width: calc(50% - 26px);
    float: left;
    height: 48px;
	box-sizing: border-box;
    padding-left: 14px;
}

.perso-cards-container .perso-card .perso-card-ButtonContainer {
	width: 52px;
    float: left;
    margin-top: 4px;
}

.perso-cards-container .perso-card .perso-name {
    font-size: 16px;
    font-weight: 500;
	position: relative;
}

.perso-cards-container .perso-card .perso-pagename {
    margin-top: 7px;
	position: relative;
}

.perso-cards-container .perso-card .perso-pagename a {
    text-decoration: none;
    font-weight: 400;
    color: #2196f3;
}

.perso-cards-container .perso-card .perso-variants {
    font-size: 15px;
    font-weight: 400;
    color: rgba(0,0,0,0.54);
    margin-left: 24px;
	position: absolute;
    right: 16px;
}

.perso-cards-container .perso-card .perso-status {
     font-size: 15px;
    font-weight: 400;
    color: rgba(0,0,0,0.54);
    margin-left: 24px;
	position: absolute;
    right: 16px;
}

.perso-cards-container .perso-card .perso-falbackname {
    font-size: 15px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.54);
}

.perso-cards-container .perso-card .perso-falbackname span {
    color: rgba(0,0,0,0.84);
}

.perso-cards-container .perso-card .perso-range-container {
	margin-top: 8px;
    margin-bottom: 20px;
}

.perso-cards-container .perso-card .perso-range-container .perso-start {
    display: inline-block;
	float: left;
    font-size: 15px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.54);
}

.perso-cards-container .perso-card .perso-range-container .material-icons {
    display: inline-block;
    float: left;
    font-size: 18px;
    padding: 0 12px;
    color: rgba(0, 0, 0, 0.54);
}

.perso-cards-container .perso-card .perso-range-container .perso-end {
	display: inline-block;
	float: left;
    font-size: 15px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.54);
}


/* More details section */

.optimizationHits-container,
.otherDetails-container {
    margin-top: 7px;
    position: relative;
	color: rgba(0,0,0,0.54);
}

.optimizationHits-container .optimizationMaxHits {
    margin-left: 24px;
    position: absolute;
    right: 16px;
	top: 0;
}

.hidden-moreDetails-container .perso-card-leftContainer,
.hidden-moreDetails-container .perso-card-rightContainer {
	height: 28px !important;
    margin-top: 6px;
    margin-bottom: 12px;
}

.otherDetails-container .listItemStatus {
	position: absolute;
    top: 0;
    right: 17px;
}

.optimizationHits-container .optimizationHits span,
.optimizationHits-container .optimizationMaxHits span,
.perso-card-leftContainer .ajaxRendering span {
	color: rgba(0,0,0,0.84);
}

.perso-card-leftContainer .ajaxRendering {
	margin-top: 7px;
	color: rgba(0,0,0,0.54);
}

.perso-cards-container .perso-card .hidden-moreDetails-container {
    min-height: 58px;
    margin-top: 55px;
    border-top: 1px solid rgba(0,0,0,0.12);
}

.perso-cards-container .perso-card .hidden-moreDetails-container .moreDetails-title {
	margin-top: 6px;
	font-size: 15px;
	padding-left: 6px;
}

.perso-cards-container .perso-card .hidden-moreDetails-container .variant-item {
    line-height: 48px;
    position: relative;
    background: #fafafa;
    margin-top: 6px;
}

.variantListItem-leftContainer {
	width: calc(50% - 27px);
}

.variantListItem-rightContainer {
	width: calc(50% + 27px);
    position: absolute;
    height: 49px;
    top: 0;
    right: 0;
}

.variantListItem-rightContainer .trafficAllocDisplay {
	display: inline-block;
	font-size: 14px;
    font-weight: 500;
	color: rgba(0,0,0,0.32);
}

.variantListItem-rightContainer .trafficAllocDisplay span {
	color: rgba(0,0,0,0.84);
}

.perso-cards-container .perso-card .hidden-moreDetails-container .reorder-icon {
    display: inline-block;
    position: absolute;
    top: -1px;
    margin-left: 16px;
    opacity: .32;
    cursor: -webkit-grab;
}

.perso-cards-container .perso-card .hidden-moreDetails-container .variant-name {
    display: inline-block;
    margin-left: 14px;
}

.perso-cards-container .perso-card .hidden-moreDetails-container .number-print {
    display: inline-block;
    margin-left: 24px;
    font-size: 14px;
    font-weight: 500;
    color: rgba(0,0,0,0.32);
}

.perso-cards-container .perso-card .hidden-moreDetails-container .variant-item-actions {
	display: inline-block;
	position: absolute;
	right: 8px;
	max-height: 48px;
}

.perso-cards-container .perso-card .hidden-moreDetails-container .variant-item-actions button {
	margin-top: 4px;
	margin-right: 0;
	margin-left: 0;
}

.perso-cards-container .perso-card .hidden-moreDetails-container .variant-item-actions button md-icon {
    font-size: 18px;
    margin-top: 3px;
}