<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="css/angular-material.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
		
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

		<link rel="stylesheet" href="css/MF2main.css">
	</head>

	<body ng-app="mfApp" class="" ng-controller="persoDashboardCtrl">
	
		<!-- Page loader -->
		<div id="pageloader">
			<svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg"><circle class="circle" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle></svg>
		</div>
		
		<!-- Header toolbar -->
		<div ng-controller="ToolbarCtrl" class="mainToolbarContainer" md-whiteframe="1">
			<md-toolbar class="mainToolbarTop">
				<div class="md-toolbar-tools">
					<h2>
						<span>Personalizations</span>
					</h2>
					
					<!-- Search (Full text filter) -->
					<div class="searchFieldWrapper">
						<div class="searchicon">
							<md-icon> search </md-icon>
						</div>
						<input type="text" class="searchFieldInput dxWidth-100" name="header-search" value="" placeholder="Filter by keywords">
					</div>
					
				</div>
			</md-toolbar>
		</div>
		
		<!-- Main Container -->
		<section class="perso-cards-container dxWidth-90">
		
			<!-- Ordering options container -->
			<div class="sortOptions-container">
			
				<!-- List ordering -->
				<md-button class="md-icon-button" aria-label="Settings" ng-click="toggleLeft()">
					<md-icon> swap_vert </md-icon>
					<md-tooltip md-direction="left">
						Invert order
					</md-tooltip>
				</md-button>
				
				<!-- List sorting -->
				<md-menu md-offset="0 -7">
					<md-button aria-label="Open sort menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
						<md-icon> sort </md-icon>
						<md-tooltip md-direction="right">
							Sort by
						</md-tooltip>
					</md-button>
					<md-menu-content width="4">
						<md-menu-item>
							<md-button ng-click=""> Personalization name </md-button>
						</md-menu-item>
						<md-menu-item>
							<md-button ng-click=""> Page name </md-button>
						</md-menu-item>
						<md-menu-item>
							<md-button ng-click=""> Number of variants </md-button>
						</md-menu-item>
						<md-menu-item>
							<md-button ng-click=""> Falback variant name </md-button>
						</md-menu-item>
					</md-menu-content>
				</md-menu>
		
			</div>
			
			<!-- Personalization card -->
			<div class="perso-card card-1 filteredCard">
			
				<div class="perso-card-leftContainer">
					<div class="perso-name">Homepage banner personalization<span class="perso-variants">3 variants</span></div>
					<div class="perso-pagename"><a href="#">My_homepage</a><span class="perso-status">Published</span></div>
				</div>
				
				<div class="perso-card-rightContainer">
					<div class="perso-falbackname">Fallback: <span>default-variant</span></div>
					<div class="perso-range-container">   <!-- If no data is available for end and start, remove this container -->
						<div class="perso-start">30 August 2016</div>
						<i class="material-icons">keyboard_arrow_right</i>
						<div class="perso-end">27 September 2016</div>
					</div>
				</div>
				
				<div class="perso-card-ButtonContainer"> <!-- Trigger to open the more details panel -->
					<md-button class="md-icon-button" aria-label="Settings">
						<md-icon> keyboard_arrow_down </md-icon>
					</md-button>
				</div>
				
				<!-- More Details -->
				<div class="hidden-moreDetails-container" style="display: none;"></div>
				
			</div>
			<!-- End of Personalization card -->
			
			<!-- Personalization card (Example 2) -->
			<div class="perso-card card-1 filteredCard">
			
				<div class="perso-card-leftContainer">
					<div class="perso-name">Latest news perso<span class="perso-variants">2 variants</span></div>
					<div class="perso-pagename"><a href="#">news_page_main</a><span class="perso-status">Published</span></div>
				</div>
				
				<div class="perso-card-rightContainer">
					<div class="perso-falbackname">Fallback: <span>latest-news</span></div>
				</div>
				
				<div class="perso-card-ButtonContainer"> <!-- Trigger to open the more details panel -->
					<md-button class="md-icon-button" aria-label="Settings" ng-click="toggleLeft()">
						<md-icon> keyboard_arrow_down </md-icon>
					</md-button>
				</div>
				
				<!-- More Details -->
				<div class="hidden-moreDetails-container" style="display: none;"></div>
				
			</div>
			<!-- End of Personalization card -->
			
			<!-- Personalization card (Example 3) -->
			<div class="perso-card card-1 filteredCard">
			
				<div class="perso-card-leftContainer">
					<div class="perso-name">Homepage advertising<span class="perso-variants">3 variants</span></div>
					<div class="perso-pagename"><a href="#">My_homepage</a><span class="perso-status">Unpublished</span></div>
				</div>
				
				<div class="perso-card-rightContainer">
					<div class="perso-falbackname">Fallback: <span>default-add</span></div>
					<div class="perso-range-container">   <!-- If no data is available for end and start, remove this container -->
						<div class="perso-start">30 August 2016</div>
						<i class="material-icons">keyboard_arrow_right</i>
						<div class="perso-end">1 October 2016</div>
					</div>
				</div>
				
				<div class="perso-card-ButtonContainer"> <!-- Trigger to open the more details panel -->
					<md-button class="md-icon-button" aria-label="Settings" ng-click="toggleLeft()">
						<md-icon> keyboard_arrow_down </md-icon>
					</md-button>
				</div>
				
				<!-- More Details -->
				<div class="hidden-moreDetails-container" style="display: none;"></div>
				
			</div>
			<!-- End of Personalization card -->
		
		</section>

		<!-- JS imports -->
		<script src="js/jquery.min.js" type="text/javascript"></script>

		<!-- Angular & Angular Material -->
		<script src="js/angular.js" type="text/javascript"></script>
		<script src="js/angular-animate.min.js" type="text/javascript"></script>
		<script src="js/angular-route.min.js" type="text/javascript"></script>
		<script src="js/angular-aria.min.js" type="text/javascript"></script>
		<script src="js/angular-messages.min.js" type="text/javascript"></script>
		<script src="js/angular-material.js" type="text/javascript"></script>
		
		<!-- Main JS -->
		<script src="js/perso_dashboard.js" type="text/javascript"></script>

	</body>
</html>